body{
    margin: 0;
    font-size: 1.7vw;
    font-family: 'Poppins', sans-serif;
}
.auto-size-img{
    width: 100%;
    height: 100%;
}
.main-header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-header li{
    list-style: none;
}
.header-logo{
    font-family: 'Poppins', sans-serif;
}
.nav-items{
    display: flex;
    column-gap: 2vw;
}
.nav-item{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.2s linear;
}
.nav-item:hover{
    color:orange;
}
.header-images-buttons{
    display: flex;
    column-gap: 1.5vw;
    margin-left: 1.5vw;
}
.header-image-btn{
    transform: 0.2s linear;
}
.header-image-btn:hover{
    filter: opacity(0.5) drop-shadow(0 0 0 orange);
}
.header-img{
    width: 1.8vw;
    height: 1.8vw;
}
.page-1{
    background: url(../images/main/page-1/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 0;
}
.page-1-container{
    padding-left: 60%;
    padding-top: 20%;
    padding-bottom: 10vmax;
    
}
.page-1 h5{
    font-weight: 500;
    font-size: 1.2vw;
    color: #22262A;
    margin: 0;
}
.page-1 h2{
    font-size: 5vw;
    color: #22262A;
    margin: 0;
}
.page-1 h7{
    font-size: 1.2vw;
    color: #22262A;
    margin: 0;
}
.page-1-buttons{
    display: flex;
    margin-left: 2vw;
    margin-top: 2vw;
    column-gap: 3vw;
    padding-bottom: 9.5vw;
}
.page-1-btn{
    background:#22262A;
    border: none;
    cursor: pointer;
    width: 11vw;
    font-size: 1.5vw;
    font-weight: 500;
    color: white;
    padding-top: 0.2vw;
    height: 3vw;
}
.page-2-container{
    padding: 9vw 4vw;
}
.image-1{
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
      grid-auto-rows: minmax(20vw, auto);
    grid-gap: 1vw;
}
.image-1-1{
    grid-column: 1/3;
    grid-row: 1;

}
.image-1-2{
    grid-column: 1;
    grid-row: 2;

}
.image-1-3{
    grid-column: 2;
    grid-row: 2;

}
.image-1-4{
    grid-column: 3/5;
    grid-row: 1/3;
}
.page-3-container{
    margin: 0 3vw;
}
.text-page{
    color: #22262A;
    margin: 0;
    text-align: center;
}
.page-3 h6{
    margin-top: 0.5vw;
}
.page-4 h6{
    margin-top: 0.5vw;
}
.card-holder{
    margin-top: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-gap: 1vw;
}
.card h4{
    margin-top: 0.2vw;
    text-align: left;
    margin-bottom: 0;
    font-size: 1.3vw;
    color: #22262A;
    font-weight: 300;
}
.card{
    border-radius: border-box;
    word-break: break-all;
}
.card p{
    font-size: 1.3vw;
    margin: 0.5vw 0 0 0;
}
.amount-container{
    display: flex;
    column-gap: 4vw;
}
.amount-false{
    font-size: 1.15vw;
    text-decoration: line-through;
    color: black;
}
.amount-true{
    font-size: 1.15vw;
    color: red;
}
.page-4{
    margin-top: 13vmax;
}
.center-text{
    text-align: center;
}
.page-5{
    margin-top: 13vmax;
}
.page-5-container{
    padding: 3vw;

}
.none{
    padding: 27vw;
}
.auto-size{
    height: 100%;
    width: 100%;
}
.auto-size-img{
    position: absolute;

}
.auto-size-grid{
    height: 85%;
    width: 85%;
}
.img-1{
    margin-top: 7vw;
    height: 70vw;
    width: 50vw;
}
.img-2{
    margin-top: 0vw;
    margin-left: 37vw;
    height: 39vw;
    width: 50vw;
}
.img-3{
    border: 2vw solid white;
    height: 37vw;
    width: 25vw;
    margin-top: 20vw;
    margin-left: 65vw;
}
.page-5-container h4{
    position: absolute;
    margin-top: 62vw;
    margin-left: 56vw;
    color: #22262A;;
    border-bottom: 0.3vw solid #22262A;
}
.page-6{
    background: url('../images/main/page-6/17\ 1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 46vw;
}
.page-6 hgroup{
    text-align: left;
    margin-left: 10%;
    margin-right: 50%;
    padding-top: 10%;
}
.page-6 hgroup h3{
    text-align: left;
    font-size: 2vw;
    color: #22262A;
    margin-bottom: 0;
}
.page-6 hgroup h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 7vw;
    color: #22262A;
}
.page-6 button{
    border: none;
    cursor: pointer;
    background-color: #22262A;
    color: white;
    padding: 1.5%;
    font-size: 2.5vw;
    margin-left: 10%;
}
.page-6 button:active{
    transform: scale(0.9);
}
.foot-1{
    display: flex;
    justify-content: center;
    column-gap: 2vw;
}
footer{
    background-color: #ececec;
}
.right{
    width: 40%;
}
.right h6{
    font-size: 2vw;
    margin-bottom: 0;
}
.right p{
    margin-top: 2%;
    font-size: 1vw;
}
.adress{
    display: flex;
    column-gap: 1.5vw;
    align-items: center;
}
.adress h1{
    font-size: 1vw;
    font-weight: 400;
}
.email{
    padding-bottom: 0.7vw;
    position: relative;
}
.email::after{
    content: "";
    background-color: black;
    position: absolute;
    bottom: -7.5vw;
    left: 25%;
    height: 15.9vw;
    width: 1px;
    rotate: 90deg;
}
.right h2{
    font-size: 1vw;
    font-weight: 400;
}
.right ul{
    list-style: none;
    display: flex;
    column-gap: 1vw;
    padding-left: 0;
}
.left form{
    margin-top: 4.7vw;
}
.form-content label {
    font-weight: 700;
    font-size: 3vw;
}
.form-content button{
    border: none;
    font-weight: 700;
    background-color: white;
    padding: 5% 6%;
    font-size: 1.5vw;
    color: #22262A;
    cursor: pointer;
    border-radius: 0 20px 20px 0;
}
.form-content{
    display: flex;

}
.form-content input{
    border: none;
    outline: none;
    padding-left: 1vw;
    font-size: 1.7vw;
    padding-right: 2vw;
    width: 30vw;
    border-radius: 20px 0 0 20px;
}
.foot-container{
    display: flex;
    justify-content: space-between;
}
.foot-container h1{
    margin-bottom: 0;
}
.foot-container ul{
    list-style: none;
    padding: 0;
    row-gap: 1vw;
}
.foot-container li{
    margin-bottom: 1vw;
}
.foot-container a{
    text-decoration: none;
    color:#22262A;
    font-size: 1.3vw;
}
.foot-2{
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    font-size: 1.4vw;
}
.containerf{
    padding: 10vw 10vw 2vw 10vw;
}
.autosize-svg{
    height: 2vw;
    width: 2vw;
}
.img-container{
    position: relative;
    width: 90vw;
    height: 90vw;
}